{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h2 class="my-5 text-center">Upload Your Image</h2>
    <form id="image-upload-form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        {{ form.image.label_tag }}
        {{ form.image }}
      </div>
      <div class="form-group">
        {{ form.name.label_tag }}
        {{ form.name }}
      </div>
      <div class="form-group">
        {{ form.description.label_tag }}
        {{ form.description }}
      </div>
      <div class="form-group">
        {{ form.category.label_tag }}
        {{ form.category }}
      </div>
      <div class="form-group">
        {{ form.new_category.label_tag }}
        {{ form.new_category }}
      </div>
      <div class="form-group">
        {{ form.location.label_tag }}
        {{ form.location }}
      </div>
      <div class="form-group">
        {{ form.new_location.label_tag }}
        {{ form.new_location }}
      </div>
      <button type="submit" class="btn btn-primary btn-block">Upload</button>
    </form>
    <div id="upload-message" class="mt-3"></div>
  </div>
</div>

<script>
  const form = document.getElementById('image-upload-form');
  form.addEventListener('submit', function (event) {
    event.preventDefault();
    const formData = new FormData(form);

    fetch("{% url 'upload_image' %}", {
      method: 'POST',
      body: formData,
      headers: {
        'X-Requested-With': 'XMLHttpRequest',
      },
    })
      .then(response => response.json())
      .then(data => {
        document.getElementById('upload-message').textContent = data.message;
        form.reset();  // Reset the form after a successful upload
      })
      .catch(error => console.error('Error:', error));
  });
</script>
{% endblock %}