<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" href="/">My Gallery</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 flexible" style="justify-content:space-between ;">
            <li class="nav-item">
                <a class="nav-link active mx-5" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-5" href="/admin/">Admin</a>
            </li>
            <li class="nav-item dropdown mx-5">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Locations
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="btn btn-outline-success m-2 location-link" href="/">All Images</a></li>
                    <li><a class="btn btn-outline-success m-2 location-link" href="{% url 'filter_location' 1%}">Kenya</a></li>
                    <li><a class="btn btn-outline-success m-2 location-link" href="{% url 'filter_location' 2%}">USA</a></li>
                    <li><a class="btn btn-outline-success m-2 location-link" href="{% url 'filter_location' 3%}">Canada</a></li>
                    <li><a class="btn btn-outline-success m-2 location-link" href="{% url 'filter_location' 4%}">China</a></li>
                    <li><a class="btn btn-outline-success m-2 location-link" href="{% url 'filter_location' 5%}">Bahamas</a></li>
                </ul>
            </li>            

            
            
            </ul>
            <form class="d-flex">
            <input class="form-control me-2" type="search" action="{% url 'search_results' %}" placeholder="Search Here" aria-label="Search">
            <select class="form-select" aria-label="Default select example" name="image">
            
                <option hidden >Select Category</option>
                <option value="nature">Science</option>
                <option value="technology">Tech</option>
                <option value="animals">Outdoor Games</option>
                <option value="adventure">Indoor Games</option>
                <option value="people">Nature</option>
                <option value="vehicles">Geography</option>
                <option value="birds">Automobiles</option>
                <option value="food">Foods</option>
            </select>
            <button class="btn btn-outline-success mx-2" type="submit">Search</button>
            </form>
        </div>
        </div>
    </nav>
    <nav style="display:flex;">
        <div>
            <a href="{% url 'upload_picture' %}" class="btn btn-large btn-secondary">
                Upload
            </a>
        </div>

        <div>
            
        </div>
    </nav>
</body>
</html>